// Colors
$color-background: #e4e0e1;
$color-beige: #d6c0b3;
$color-brown-light: #ab886d;
$color-brown-dark: #493628;

// Typography
$font-family: "Trebuchet MS", sans-serif;
$font-size-xbig: 1.538rem;
$font-size-big: 1.153rem;

// Spacing
$gap-small: 0.5rem;
$gap-medium: 1rem;
$gap-large: 2rem;
