<div class="col-wrapper">
  <div class="player-name">
    <h3>{{ player().name }}</h3>
  </div>
  <div class="birds">
    <p>{{ player().birds }}</p>
  </div>
  <div class="bonus-cards">
    <p>{{ player().bonusCards }}</p>
  </div>
  <div class="end-of-round-goals">
    <p>{{ player().endOfRoundGoals }}</p>
  </div>
  <div class="eggs">
    <p>{{ player().eggs }}</p>
  </div>
  <div class="food-on-cards">
    <p>{{ player().foodOnCards }}</p>
  </div>
  <div class="tucked-cards">
    <p>{{ player().tuckedCards }}</p>
  </div>
  <div class="nectar">
    <p>{{ player().nectar }}</p>
  </div>
  <div class="total">
    <p>{{ player().total }}</p>
  </div>
</div>
