<form [formGroup]="player()" class="col-wrapper">
  @for (control of controlNames; track $index) {
  <div class="input-group">
    <input
      [type]="control === 'name' ? 'text' : 'number'"
      [formControlName]="control"
      [attr.aria-label]="control"
      [class.has-value]="player().get(control)?.value"
    />
    <span class="bar"></span>
    <label [htmlFor]="control">{{ control }}</label>
  </div>
  }
  <div class="total">
    <span>Total: {{ showTotal() ? total() : "?" }}</span>
    @if (showTotal()) {
    <img
      (click)="toggleViewTotal()"
      src="view-hide.svg"
      width="30"
      height="30"
    />
    } @else {
    <img (click)="toggleViewTotal()" src="view.svg" width="30" height="30" />
    }
  </div>
</form>
